__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
*.egg-info/

.env
.env.*

.DS_Store
.ipynb_checkpoints/

artifacts/

artifect/*
!artifect/ag_news_yelp_dbpedia/
!artifect/ag_news_yelp_dbpedia/**

artifects/*
!artifects/ag_news_yelp_dbpedia/
!artifects/ag_news_yelp_dbpedia/**
