__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
*.egg-info/

.env
.env.*

.DS_Store
.ipynb_checkpoints/

artifacts/*
!artifacts/dynamic_lora/
artifacts/dynamic_lora/*
!artifacts/dynamic_lora/ag_news_yelp_dbpedia/
!artifacts/dynamic_lora/ag_news_yelp_dbpedia/**
outputs/*
!outputs/ag_news_yelp_dbpedia/
!outputs/ag_news_yelp_dbpedia/**
